html, body, #root {
    width: 100%;
    height: 100%;
    min-width: 360px;
    min-height: 480px;
    margin: 0;
    padding: 0;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #121212; /* ✅ même couleur globale */
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
